<footer id="footer">
    <nav>
        <div class="footerbar">
            <section class="footerbar-section">
                <a href="#" class="btn btn-link"> GitHub </a>
                <a href="#" class="btn btn-link"> LinkedIn </a>
            </section>
        </div>
    </nav>
</footer>
