<header id="menu">
    <nav>
        <div class="navbar1">
            <section class="navbar-section1">
                <a href="/" class="btn1"> Home </a>
                <a href="/projects" class="btn1"> Projects </a>
                <a href="/blog" class="btn1"> Blog </a>
                <a href="/about" class="btn1"> About </a>
                <a href="/contact" class="btn1"> Contact Me </a>
            </section>

            
                {{#if isLoggedIn}}
                    
                        <a class="account-name">Hi, {{name}}!</a>
                        <a href="/logout" class="logout">Logout</a>
                    
                {{else}}
                    
                        <a href="/login" class="to-r" class="btn1" > Login </a>
                        <a href="/signup" class="btn1"> Signup </a>
                    
                {{/if}}
            
            
        </div>
    </nav>
</header>
