<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio Sam</title>
        <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="icon" type="image/png" href="/img/SLogo.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{> menu}}
        <!-- particles.js container --> 
        <div id="particles-js"></div> 
        <!-- stats - count particles --> 
        <div class="count-particles"> 
            <span class="js-count-particles"></span>
        </div> 
        <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
        {{!-- https://vincentgarreau.com/particles.js/#nasa --}}
        {{{body}}}
        <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
        <!-- stats.js lib --> 
        <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
        <script src="/particles.js"></script>
    </body>
</html>
