<div class="main">
    <div>
        <h1 class="pageheader">About Me</h1>
        <div class="flex-container">
            <div class="col-12 about-me-container">
                <div class="flex-container-about">
                    <div id="about-btns-container">
                        <a href="https://www.linkedin.com/in/sam-aliwa/" class="contact-btn-l" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="/img/CV-Sam-2024.pdf" download="CV-Sam-2024.pdf" class="download-cv-button">
                            <p class="cv">CV</p><i class="fa fa-cloud-download-alt"></i>
                        </a>
                        <a href="https://github.com/Sam-Code97" class="contact-btn-g " target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                    <div class="img-with-circle">
                        <img id="about-me-img" src="/img/bild.png" alt="Photo of Sam" title="Sam">
                        <div class="blue-circle"></div>
                    </div>
                </div>
                <div class="about-container">
                    <article class="abouttext">
                        <h2>Hi, I'm Sam Aliwa!</h2>

                        <p>A software engineering student with a focus on software and mobile platform development. My passion lies in creating functional, user-friendly solutions while constantly learning and growing in the dynamic field of technology.</p>

                        <h3>🎓 My Academic Path</h3>
                        <p>I'm currently studying Software Engineering and Mobile Platforms at Jönköping University, set to graduate in June 2025. My coursework includes Object-Oriented Programming, AI-programming, Data Structures, Web Development, and Mobile Development for both Android and iOS platforms.</p>

                        <h3>🛠️ Technical Toolkit</h3>
                        <p>I have experience with programming languages such as C++, Java, JavaScript, Python, Kotlin, Flutter, SQL, HTML, and CSS. I'm comfortable working with frameworks and tools like React, Node.js, Express.js, Qt, Android Studio, VS Code, and Git. My expertise extends to areas such as OOP, database management, responsive web design, and Agile development practices.</p>

                        <h3>🌟 Why Me?</h3>
                        <p>I bring a mix of technical skills, adaptability, and a strong focus on teamwork. I'm eager to contribute to innovative projects and collaborate with a team dedicated to meaningful impact.</p>

                        <h3>🚀 Let's Collaborate!</h3>
                        <p>I'm seeking opportunities where I can apply my skills, learn from others, and make a positive contribution. If you're looking for a dedicated and curious team member, let's connect!</p>
                    </article>
                    
                </div>
            </div>
        </div>
    </div>
</div>
