<div class="main">
    <div>
        <h1 class="pageheader">About Me</h1>
        <div class="flex-container">
            <div class="col-12 about-me-container">
                <div class="flex-container-about">
                    <div id="about-btns-container">
                        <a href="https://www.linkedin.com/in/sam-aliwa/" class="contact-btn-l" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="/img/CV-Sam-2023.pdf" download="CV-Sam-2023.pdf" class="download-cv-button">
                            <p class="cv">CV</p><i class="fa fa-cloud-download-alt"></i>
                        </a>
                        <a href="https://github.com/Sam-Code97" class="contact-btn-g " target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                    <div class="img-with-circle">
                        <img id="about-me-img" src="/img/bild.png" alt="Photo of Sam" title="Sam">
                        <div class="blue-circle"></div>
                    </div>
                </div>
                <div class="about-container">
                    <article class="abouttext">
                        <h2>Hi, I'm Sam Aliwa!</h2>

                        <p>Hello there! I'm Sam, a digital craftsman and coding enthusiast. In the ever-evolving tech landscape, I find my joy and challenge. As a budding software engineer with a flair for creativity and a passion for problem-solving, I'm on a journey to merge the worlds of software and mobile platform development.</p>

                        <h3>🎓 My Academic Path</h3>
                        <p>I'm currently navigating the complexities of Computer Science at Jönköping University, with a focus on Software Development and Mobile Platforms, gearing up for my graduation in June 2025. My academic expedition has taken me through a maze of intriguing courses like Object-Oriented Programming, Data Structures and Algorithms, Web Development, and Mobile Development for both Android and iOS platforms, to name a few.</p>

                        <h3>🛠️ Technical Toolkit</h3>
                        <p>My arsenal of skills is as diverse as it is deep, armed with languages like C++, Java, JavaScript, Kotlin, SQL, HTML, and CSS. I thrive in environments that challenge me to use frameworks such as Node.js, Express.js, and Qt, and I'm no stranger to tools like Android Studio, VS Code, and Git. I revel in concepts ranging from OOP and Database Management to Responsive Web Design and Agile Methodologies.</p>

                        <h3>💼 From Compassion to Code</h3>
                        <p>While my professional path has seen me in the role of an Assistant Nurse in Elderly Care, the skills I've honed there are not just about healthcare – they're about humanity. I've cultivated a range of transferable skills including effective communication, teamwork, problem-solving, and empathy, all of which are invaluable in the tech world.</p>

                        <h3>🌟 Why Me?</h3>
                        <p>I am not just another programmer. I'm a storyteller in code, a designer of digital experiences, and a builder of bridges between technology and people. I bring a unique blend of technical prowess, empathic understanding, and a relentless drive to learn and grow.</p>

                        <h3>🚀 Next Destination: Your Team?</h3>
                        <p>I'm on the lookout for an opportunity to bring my blend of skills, passion, and unique perspective to a team that values innovation, collaboration, and making a difference. Let's create something remarkable together!</p>
                    </article>
                    
                </div>
            </div>
        </div>
    </div>
</div>
