<div class="main">
    <div>
        <h1 class="pageheader">About Me</h1>
        <div class="flex-container">
            <div class="col-11 about-me-container flex-wrap">
                <div class="about-container">
                    <article class="abouttext">
                        I'm an enthusiastic and driven student with a strong passion
                        for programming and technology. <br> Aspiring to become a software engineer,
                        I'm committed to continuous learning and expanding my skills.<br>
                        Beyond technical expertise, I value building meaningful relationships 
                        and contributing positively to my communities.
                    </article>
                </div>
                <div class="flex-container">
                    <div class="img-with-circle">
                        <img id="about-me-img" src="/img/bild.png" alt="Photo of Sam" title="Sam">
                        <div class="blue-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
