<div class="main">
    <div>
        <h1 class="pageheader">About Me</h1>
        <div>
            <article class="abouttext">
                I'm an enthusiastic and driven student with a strong passion
                for programming and technology. <br> Aspiring to become a software engineer,
                I'm committed to continuous learning and expanding my skills.<br>
                Beyond technical expertise, I value building meaningful relationships 
                and contributing positively to my communities.
            </article>
        </div>
    </div>
</div>
