<div class="main">
    <div class="columns">
        <div class="column col-lg-11 col-md-11 col-sm-11 col-xs-12 col-mx-auto" id="cinfo">
            <h1>Blog</h1>
            <br>
            <br>
            <div id="blog">
                <!--image-->
                Meet our new device Rara
                <div>
                    Rara is the device that will revolutionise the way we contact each other!
                </div>
            </div>
        </div>   
    </div>
</div>
