<div class="main">
    <div id="cinfo">
        <h1 class="pageheader">Lets Contact!</h1>
        <div class="contact">
            <div id="contact-btns-container">
                <a href="https://www.linkedin.com/in/sam-aliwa/" class="contact-btn" target="_blank"> LinkedIn </a>
                <a href="https://github.com/Sam-Code97" class="contact-btn" target="_blank"> GitHub </a>
            </div>
            <a href="mailto:sam.aliwa97@gmail.com" class="email" target=_blank title=Email class="email">
                sam.aliwa97@gmail.com
            </a>
            <address>
                Torggatan 10<br> 
                333 30 Smålandsstenar
            </address>

            <p id="phone">070 707 77 07</p>

        </div>
    </div>   
</div>
