<div class="main">
    <div id="cinfo">
        <h1 class="pageheader">Lets Contact!</h1>
        <div class="columns flex-container">
            <div class="col-5 col-lg-7 col-md-10 col-sm-11 contact">
                <div id="contact-btns-container">
                    <a href="https://www.linkedin.com/in/sam-aliwa/" class="contact-btn-l" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/Sam-Code97" class="contact-btn-g " target="_blank"><i class="fab fa-github"></i></a>
                </div>
                <a href="mailto:sam.aliwa97@gmail.com" class="email" target=_blank title=Email class="email">
                    sam.aliwa97@gmail.com
                </a>
                <address>
                    Torggatan 10<br> 
                    333 30 Smålandsstenar
                </address>

                <p id="phone">070 707 77 07</p>

            </div>
        </div>
    </div>   
</div>
