<div class="main">
    <div class="columns">
        <div class="column col-lg-11 col-md-11 col-sm-11 col-xs-12 col-mx-auto" id="cinfo">
            <address>
                Torggatan 10<br> 
                333 30 Smålandsstenar
            </address>
            <a href="mailto:sam.aliwa97@gmail.com" target=_blank title=Email class="email">
                sam.aliwa97@gmail.com
            </a>
            <p id="phone">070 707 77 07</p>
        </div>   
    </div>
</div>
