<div class="main">
    <div class="columns flex-container-home">
        <div class="col-5 col-md-12 col-sm-12 flex-container-c ">
            <h1 id="name">Hi, I'm Sam Aliwa</h1>
            <h2 id="job">A Software Engineering Student</h2>
            <div id="description" class="col-11 text-center">
                A software enthusiast with a knack for algorithms, I thrive on coding challenges and constantly seek efficient solutions. Driven by curiosity, I'm always ready for the next tech adventure.
            </div>
        </div>
        <div class=" col-5 img-with-circle2">
            <div class="pimg-container">
                <img id="pimg" src="img/persimg.png" alt="Photo of Sam" title="Sam">
            </div>
            <div class="blue-circle2"></div>
        </div>
    </div>
</div>
