<div class="main">
    <div class="columns flex-container-home">
        <div class="col-5 col-md-12 col-sm-12 flex-container-c ">
            <h1 id="name">Hi, I'm Sam Aliwa</h1>
            <h2 id="job">A Software Engineering Student</h2>
            <div id="description" class="col-11 text-center">
                Welcome to my corner of the digital world, a space I've personally crafted to showcase my journey and projects.<br><br>I am a software enthusiast with a knack for algorithms, I thrive on coding challenges and constantly seek efficient solutions. Driven by curiosity, I'm always ready for the next tech adventure.
            </div>
            <div class="flex-container home-links">
                <a href="https://www.linkedin.com/in/sam-aliwa/" class="home-btn-l" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="/img/CV-Sam-2023.pdf" download="CV-Sam-2023.pdf" class="home-cv-button">
                    <p class="cv2">CV</p><i class="fa fa-cloud-download-alt"></i>
                </a>
            </div>
        </div>
        <div class="">
            <div class="img-with-circle2">
                <div class="blue-circle3"></div>
                <div class="pimg-container">
                    <a href="/about">
                    <img id="pimg" src="img/persimg.png" alt="Photo of Sam" title="Sam">
                    </a>
                </div>
                <div class="blue-circle2"></div>
            </div>
        </div>
    </div>
</div>
