<div class="main">
    <div class="logincontainer">
        <h1 class="pageheader">Log in</h1>
        <div>
            <form action="/login" method="post" id="formlogin" class="form-signin-up">
                <fieldset>
                    <h2 class="signin-up-text">Login information</h2>
                    <label>Username: <input type="text" name="un" required></label>
                    <br>
                    <label>Password: <input type="password" name="pw" required></label>
                </fieldset>
                <input class="loginbtn" type="submit" value="Login">
                <br>
                {{#if errorMessage}}
                <div class="error-message">
                    {{errorMessage}}
                </div>
                {{/if}}
            </form>
        </div>
    </div>
</div>