<div id="main">
    <div>
        <h1 class="pageheader">New Article</h1>
        <div>
            {{#if isLoggedIn}}
                <form action="/blog/new" method="post">
                    <div class="modifypage">
                        <fieldset class="modifyfield col-9 col-lg-11 col-md-11 col-sm-12">
                            <label for="blogheader">Article header: </label>
                            <input type="text" name="blogheader" id="blogheader" required="required">
                            <br />
                            <label for="bshortdesc">Short description: </label>
                            <textarea class="textareadark" name="bshortdesc" id="bshortdesc" cols="30" rows="5" required="required"></textarea>
                            <br />
                            <label for="bsecone">First paragraph: </label>
                            <textarea class="textareadark" name="bsecone" id="bsecone" cols="30" rows="8" required="required"></textarea>
                            <br />
                            <label for="bsectwo">Second paragraph: </label>
                            <textarea class="textareadark" name="bsectwo" id="bsectwo" cols="30" rows="8" required="required"></textarea>
                            <br />
                            <label for="bsecthree">Third paragraph: </label>
                            <textarea class="textareadark" name="bsecthree" id="bsecthree" cols="30" rows="8" required="required"></textarea>
                            <br />
                            <label for="bimg">Article image URL: </label>
                            <input type="text" name="bimg" id="bimg" placeholder="/img/" required="required">
                            <br />
                        </fieldset>
                        <input class="btn3" type="submit" value="Publish Article">
                    </div>
                </form>
            {{else}}
                <p>
                    Sorry, you mustbe logged in to write a new Article! <br>
                    please go to the <a href="/login">login</a> page
                </p>
            {{/if}}
        </div>
    </div>
</div>