<div class="main">
    <div class="logincontainer">
        <h1 class="pageheader">Sign up</h1>
        <div>
            <form action="/signup" method="post" id="formsignup" class="form-signin-up">
                <fieldset>
                    <h2 class="signin-up-text">Signup information</h2>
                    <label>Username: <input type="text" name="un" required></label>
                    <br>
                    <label>Password: <input type="password" name="pw" required></label>
                </fieldset>
                <input class="loginbtn"  type="submit" value="Signup">
                <br>
                <a class="no-account-signup-btn" href="/signup">Don't have an account yet? Sign up here!</a>
                <br>
            </form>
        </div>
    </div>
</div>