<div class="main">
    <div class="logincontainer">
        <h1 class="pageheader">Sign up</h1>
        <div>
            <form action="/signup" method="post" id="formsignup" class="form-signin-up">
                <fieldset>
                    <h2 class="signin-up-text">Signup information</h2>
                    <label>Username: <input type="text" name="un"></label>
                    <br>
                    <label>Password: <input type="password" name="pw"></label>
                </fieldset>
                <input class="loginbtn"  type="submit" value="Signup">
            </form>
        </div>
    </div>
</div>