<div>
    signup:

    <label for="Email"></label>
    <div>
        <input class="Email" type="text" name="Email">
    </div>
    <label for="password"></label>
    <div>
        <input class="password" type="password" name="password">
    </div>
    already signed-up? <!--link to login.handlebars-->
</div>