* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: content-box;
}

.main {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 96px;
    margin-top: 32px;
    box-sizing: content-box;
    /*border: 3px solid gray;*/
}

.card{
    display: flex;
    border: 1px solid gray;
    border-radius: 16px;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgb(172, 234, 196);
    margin-bottom: 8px;
    position: relative;
}

.projectsImg {
    width: 12vw;
    min-width: 12vw;
    padding: 8px;
    border: 1px solid black;
    border-radius: 16px;
    border-color: white;
    box-sizing: border-box;
}

.centerVert {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.padding {
    padding: 8px;
    box-sizing: border-box;
}

.blog-card-link, .blog-card-link:link, .blog-card-link:visited {
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    color: black; /* This will ensure the color remains black */
}

.blog-card-link:hover {
    text-decoration: none;
    cursor: pointer;
}

