#menu{
    margin-left: 20px;
    margin-right: 25px;
}
.navbar1{
    width: 100%;

    margin-bottom: 20px;
}

.navbar-sections{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    
    white-space: nowrap;
    padding: 3px;

    border-bottom: 1px solid black;
}

.navbar-section2{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    
}
.navbar-section1{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
}

body{
    background: linear-gradient(90deg, rgb(38, 43, 51), rgb(47, 55, 66));
    margin: 0;          /* Remove default margin */
    padding: 0;         /* Remove default padding */
    width: 100vw;       /* Set width to 100% of the viewport width */
    height: 100vh;      /* Set height to 100% of the viewport height */

}

.main{
    color: rgb(235, 241, 249);
}

.btn1, .btn1:link, .btn1:visited{
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    margin: 0;
    padding: 15px;
    background-color: transparent;
    transition: background-color 0.1s;

    border-radius: 8px;

}

.btn1:hover{
    background-color: rgb(36, 40, 47);
    text-shadow: none;
    transition: background-color 0.1s;
}

.blue{
    margin-left: 100px;
}
.blue:hover{
    background-color: rgb(31, 46, 63);
}

.red:hover{
    background-color: rgb(63, 31, 31);
}

.account-name, .account-name:link, .account-name:visited, .account-name:hover{
    color: rgb(213, 228, 255);
    font-size: 17px;
    padding: 15px;
    text-decoration: none;
    cursor:default;
    
}

.footerbtn, .footerbtn:link, .footerbtn:visited{
    color: white;
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    margin: 0;
    padding: 10px;
    background-color: rgb(46, 52, 61);
    border-radius: 5px;
    transition: background-color 0.1s;
}

.footerbtn:hover{
    background-color: rgb(36, 40, 47);
    text-shadow: none;
    transition: background-color 0.1s;
}



footer#footer{
    background-color: rgb(46, 52, 61);
    box-shadow: 0.5px 0.5px 7px black;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: auto;
    bottom: 0;
    margin-top: auto;
}

.pageheader{
    margin: 30px;
    text-align: center;
    color: rgb(228, 228, 228);
}

/*------------------*/
.btn2, .btn2:link, .btn2:visited{
    color: white;
    
    text-decoration: none;
    padding: 20px;
    background-color: rgb(48, 71, 104);
    transition: background-color 0.1s;
    border-radius: 5px;

    margin: 10px;

}

.btn2:hover{
    background-color: rgb(33, 52, 80);

}

.headbtn{
    display: flex;
}

.card-title{
    text-align: center;
    margin-top: 20px;
}
.card-subtitle{
    margin-bottom: 30px;
    text-align: center;
}

.blog-card-link, .blog-card-link:link, .blog-card-link:visited, .blog-card-link:active, .blog-card-link:focus{
    color: rgb(192, 200, 215);
    font-size: 17px;
    text-decoration: none;
    border: none;

    
}

.blog-card-link:hover{
    text-decoration: none;
}

.card, .card:link, .card:visited, .card:active, .card:focus{
    margin: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(30, 34, 39);
    transform: scale(1);
    transition: transform 0.3s;
}


.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.cardtext{
    padding: 40px;
}

.card-footer {
    display: flex;
    margin-top: 0px;
}


.delete-btn, .delete-btn:link, .delete-btn:visited{
    color: white;
    
    text-decoration: none;
    padding: 20px;
    background-color: rgb(135, 25, 25);
    transition: background-color 0.1s;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 5px;

}

.delete-btn:hover{
    background-color: rgb(105, 19, 19);
    transition: background-color 0.1s;
    text-shadow: none;
}

.modify-btn, .modify-btn:link, .modify-btn:visited{
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-top: 10px;
    background-color: rgb(48, 71, 104);
    transition: background-color 0.1s;
    
    margin-right: auto;
    margin-left: auto;
    

    
    border-radius: 5px;

}
.modify-btn:hover{
    background-color: rgb(33, 49, 70);
    text-shadow: none;
}

/*-------------------*/


#comments-header{
    margin-top: 50px;
    margin-bottom: 30px;
}

.textareadark {
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    
    background-color: rgb(28, 32, 38);
    border-radius: 10px;
    color: rgb(189, 197, 211);
    padding: 10px;
    padding: 20px;
}

.commentbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    margin-bottom: 10px;
    
}

.submitbtn{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    padding: 20px;
    background-color: rgb(48, 71, 104);
    transition: background-color 0.1s;
    box-shadow: none ;
    border: none;
    border-radius: 5px;

    max-height: 70px;
}

.submitbtn:hover{
    background-color: rgb(33, 52, 80) !important;
    text-shadow: none;
}
.comment {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.comment-author {
    font-weight: bold;
}




.comment-body{
    margin-left: 20px;
}

.comment-date{
    margin-top: 5px;
    margin-left: 20px;
}

.comment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

/*--------------------------------*/
.img-responsive{
    margin-bottom: 30px;
}

.fullblog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fullblogmenu{
    display: flex;
    text-align: center;
    max-width:max-content;
    background-color: transparent;
    margin-bottom: 50px;
    padding: 10px;
    border-bottom: 1px solid black;

}
.text-magin{
    margin-left: 20px;
    margin-right: 20px;
}

.article{
    display: flex;
    justify-content: center;
}
.blog-header{
    color: white;
}

.blog-brief-desc{
    font-size: 20px;
}
.blog-body{
    font-size: 20px;
}

.abouttext{
    text-align: center;
}

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    margin: 30px;
}

.email, .email:link, .email:visited{
    color: rgb(213, 240, 255);
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    margin: 15px;

}

.email:hover{
    color: rgb(158, 212, 242);
    text-shadow: none;
    text-decoration: underline dotted rgb(158, 212, 242);
    
}
#contact-btns-container{
    margin: 15px;
}
#phone{
    margin-top: 15px;
    
}


.contact-btn, .contact-btn:link, .contact-btn:visited{
    color: white;
    align-self: center;
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    margin: 5px;
    padding: 15px;
    background-color: rgb(36, 40, 47);
    border-radius: 8px;
    max-width: min-content;
    transition: background-color 0.1s;
}

.contact-btn:hover{
    background-color: rgb(29, 32, 38);
    text-shadow: none;
    transition: background-color 0.1s;
}

/*---------------------*/

.logincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-signin-up{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    background-color: rgba(30, 34, 39, 0.285);
}
.formlogin{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    background-color: rgba(30, 34, 39, 0.285);
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
}
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 300px;
    
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.loginbtn{
    min-width: 250px;
    align-self: center;
    max-width: 400px;
    padding: 10px;
    background-color: #144170;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.logout{
    background-color: #701414;
}

input[type="submit"]:hover {
    background-color: rgb(16, 46, 79);
    transition: background-color 0.1s;
    cursor: pointer;
}

.error-message {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    padding: 10px;

    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    border-radius: 4px;
    text-align: center;
}

.signin-up-text{
    font-size: 25px;
    margin-bottom: 50px;

}

/*---------------------------*/

.modifypage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modifyfield{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    background-color: rgb(33, 37, 44);
    color: rgb(218, 218, 218);
}

input{
    background-color:rgb(28, 32, 38);
    color: white;
}

.multiselec{
    padding: 10px;
    color: rgb(171, 178, 191);
    background-color: rgb(28, 32, 38);
    border-radius: 8px;
}

.yearf{
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;
    width: 100px;
}

.btn3{
    border: none;
    padding: 25px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(46, 134, 231);
    border-width: 2px;
}

/*--------------------------*/
.card-image{
    display: flex;
    justify-content: center;
    margin: 10px;
}

div.cardtext div.card-brief-desc {
    font-size: 20px;
    text-align: center;
}
.card-tech-desc{}

/*-----------------------------------*/

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.flex-container-c{
    display: flex;
    flex-direction: column;
    align-items: center;

}


#pimg{
    max-width: 220px;
    min-width: 120px;
    height: auto; 
    box-shadow: 0px 0px 10px black;
    margin-left: 20px;
    margin-right: 20px;

    float: left; 
    border-radius: 50px;
    
    transition: all 1s ease 0.1s;
    transform: translateY(-20px);
    animation: pimgEntry 1s forwards;
}

@keyframes pimgEntry {
    to {
       opacity: 0.85;
       transform: translateY(0);
   }
}

#pimg:hover{
    animation: hoverAnimation 0.5s forwards;
}

@keyframes hoverAnimation {
    to {
        transform: scale(1.1); 
        opacity: 1;
        border-radius: 20px;
   }
}

#name{
    font-family: Kalam, sans-serif, "consolas";
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: white;
    padding-top: 30px;
    text-align: center;
    opacity: 0;
    margin: 20px;
    transform: translateX(30px);
    animation: nameEntry 1s forwards;
}

@keyframes nameEntry{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

#job{
    font-family: "Kalam", sans-serif, "consolas";
    text-shadow: 2px 2px 4px rgb(17, 89, 137);
    text-align: center;
    color: white;
    opacity: 0;
    margin: 20px;
    margin-bottom: 35px;
    transform: translateX(30px);
    animation: jobEntry 1s forwards;
}

@keyframes jobEntry{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

#job:nth-child(3){
    animation-delay: 0.7s;
}

#description{
    margin: 20px;
    opacity: 0;
    transform: translateY(30px);
    animation: descEntry 1s forwards;
}


@keyframes descEntry{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}