#menu{
    margin-left: 20px;
    margin-right: 25px;
}
a, a:active, a:focus, a:checked{
    border-color: transparent;
}
.navbar1{
    width: 100%;

    margin-bottom: 20px;
}

.navbar-sections{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    
    white-space: nowrap;
    padding: 3px;

    border-bottom: 1px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.active-link {
    border: 2px solid  rgb(46, 134, 231);
    opacity: 0.5;
    animation: y-entry 1s forwards;
}
.active-link2, .active-link2:link, .active-link2:visited {
    border: 2px solid  rgb(46, 134, 231);
    text-decoration: none;
    color: white;
    font-size: 12px;
    background-color: rgb(30, 34, 39);
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 5px;
    transition: border-color 0.3s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    
}

.active-link2:hover {
    border: 2px solid  rgb(46, 134, 231);
}

.active-link2:active {
    transform: scale(0.95);
}
.navbar-section2{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    
}
.navbar-section1{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
}

body{
    background: linear-gradient(90deg, rgb(38, 43, 51), rgb(47, 55, 66));
    margin: 0;          
    padding: 0;         
    width: 100vw;       
    height: 100vh;   
}

.main{
    color: rgb(235, 241, 249);
}

.btn1, .btn1:link, .btn1:visited{
    color: white;
    
    
    text-decoration: none;
    margin: 0;
    padding: 15px;
    background-color: transparent;
    transition: background-color 0.1s;

    border-radius: 8px;

}

.btn1:hover{
    background-color: rgb(32, 36, 42);
    text-shadow: none;
    transition: background-color 0.1s;
}

.blue{
    margin-left: 100px;
}
.blue:hover{
    background-color: rgb(26, 39, 54);
}

.red:hover{
    background-color: rgb(63, 31, 31);
}

.account-name, .account-name:link, .account-name:visited, .account-name:hover{
    color: rgb(63, 155, 254);
    text-shadow: 2px 2px 4px black;
    font-size: 17px;
    padding: 15px;
    text-decoration: none;
    cursor:default;
    
}

.pageheader{
    margin: 30px;
    text-align: center;
    color: rgb(228, 228, 228);

    transition: all 1s ease 0.1s;
    transform: translateY(20px);
    animation: y-entry 1s forwards;
}

/*------------------*/
.btn2, .btn2:link, .btn2:visited{
    color: white;
    
    text-decoration: none;
    padding: 20px;
    background-color: rgb(48, 71, 104);
    transition: background-color 0.1s;
    border-radius: 8px;

    margin: 10px;

}

.btn2:hover{
    background-color: rgb(33, 52, 80);

}

.blog-card, .blog-card:link, .blog-card:visited, .blog-card:active, .blog-card:focus{
    
    max-height: 900px;
    margin-bottom: 25px;
    text-decoration: none;
    color: rgb(228, 228, 228);
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0;
    border-radius: 10px;
    border-color: #00000000;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(30, 34, 39);
    transform: translateX(-40px);
    animation: x-entry 1s forwards;
}


.blog-card-link, .blog-card-link:link, .blog-card-link:visited, .blog-card-link:active, .blog-card-link:focus {

    text-decoration: none;
    color: rgb(228, 228, 228);

}
.blog-card-link:hover{
    text-decoration: none;
}

.headbtn{
    display: flex;
}

.card-title{
    text-align: center;
    margin-top: 20px;
}
.card-subtitle{
    margin-bottom: 30px;
    text-align: center;
}

.card, .card:link, .card:visited, .card:active, .card:focus{
    
    max-height: 900px;
    margin-bottom: 25px;
    text-decoration: none;
    color: rgb(228, 228, 228);
    margin-top: 0;
    padding-top: 0;
    border-radius: 10px;
    border-color: #00000000;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(30, 34, 39);

}




.card .card-body:last-child, .card .card-footer:last-child, .card .card-header:last-child {
    padding-bottom: .8rem;
}
.flip-card{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 750px;
    perspective: 1000px;
    margin-bottom: 20px;
    transition: transform 0.5s;

    transform: translateX(-40px);
    animation: x-entry 1s forwards;
}
.card:hover{
    transform: rotateY(30deg);
    box-shadow: 10px 0px 20px black;    
    cursor: pointer;
}
@media screen and (max-width: 700px) {
    .card:hover{
        transform: rotateY(0deg);
        box-shadow: 0px 0px 10px black;    
        cursor: pointer;
    }
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: normal;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-style: preserve-3d;
    z-index: 2;
}


.click-to-rotate{
    position: absolute;
    bottom: 0; 
    right: 0;
    margin: 1px;
    box-shadow: -2px -2px 5px black;
    font-size: 16px;
    width: 150px;
    padding: 3px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 10px;
    background-color: rgb(37, 55, 79);

    z-index: 9999;
}

.click-to-rotate-r{
    position: absolute;
    bottom: 0; 

    margin: 1px;
    box-shadow: 2px -2px 5px black;
    font-size: 16px;
    width: 150px;
    padding: 3px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    background-color: rgb(37, 55, 79);

    z-index: 9999;
}

[id^=flipCheckbox]:checked + .flip-card-inner {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.cardtext{
    padding: 40px;
}

.card-footer {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.flip-card-front{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flip-card-back {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}



.flip-card-front, .flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.artic{
 padding: 20px;
 font-size: 17px;
 margin: 20px;
}

.delete-btn, .delete-btn:link, .delete-btn:visited{
    color: white;
    
    text-decoration: none;
    padding: 20px;
    background-color: rgb(135, 25, 25);
    transition: background-color 0.1s;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 8px;

}

.delete-btn:hover{
    background-color: rgb(105, 19, 19);
    transition: background-color 0.1s;
    text-shadow: none;
}

.delete-btn2, .delete-btn2:link, .delete-btn2:visited{
    color: white;
    
    text-decoration: none;
    padding: 20px;
    background-color: rgb(135, 25, 25);
    transition: background-color 0.1s;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: auto;
    border-radius: 8px;

}

.delete-btn2:hover{
    background-color: rgb(105, 19, 19);
    transition: background-color 0.1s;
    text-shadow: none;
}

.github-btn{
    display: flex;
    justify-content: center;
    
}
.fa-github{
    font-size: 30px;
}
.gh-btn{
    box-shadow: 0px 0px 1px black;
    text-align: center;
    align-items: center;
}

.gh-btn, .gh-btn:link, .gh-btn:visited{
    color: white;
    
    text-decoration: none;
    padding: 20px;
    background-color: rgb(25, 85, 135);
    transition: background-color 0.1s;
    border-radius: 15px;

}

.gh-btn:hover{
    background-color: rgb(19, 63, 100);
    transition: background-color 0.1s;
    text-shadow: none;
}

.modify-btn, .modify-btn:link, .modify-btn:visited{
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-top: 10px;
    background-color: rgb(48, 71, 104);
    transition: background-color 0.1s;
    
    margin-right: .8rem;
    margin-left: auto;
    

    
    border-radius: 8px;

}
.modify-btn:hover{
    background-color: rgb(33, 49, 70);
    text-shadow: none;
}

/*-------------------*/


#comments-header{
    margin-top: 50px;
    margin-bottom: 30px;
}
.comments-border{
    border-top: 2px solid black;
}

.textareadark {
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    
    background-color: rgb(28, 32, 38);
    border-radius: 10px;
    color: rgb(189, 197, 211);
    padding: 10px;
    padding: 20px;
}

.commentbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    margin-bottom: 10px;
    
}

.submitbtn{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    padding: 20px;
    background-color: rgb(48, 71, 104);
    transition: background-color 0.1s;
    box-shadow: none ;
    border: none;
    border-radius: 5px;

    max-height: 70px;
}

.submitbtn:hover{
    background-color: rgb(33, 52, 80) !important;
    text-shadow: none;
}
.comment {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.comment-author {
    font-weight: bold;
}


.comment-flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-flex-col{
    display: flex;
    flex-direction: column;
}

.comment-body{
    margin-left: 20px;
}

.comment-date{
    margin-top: 5px;
    margin-left: 20px;
}

.comment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

/*--------------------------------*/
.img-responsive{
    margin-bottom: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-height: 450px;
}


.card .card-image:first-child img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bolg-entry{
    transform: translateY(40px);
    animation: y-entry 1s forwards;
}

.fullblog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fullblogmenu{
    display: flex;
    text-align: center;
    max-width:max-content;
    background-color: transparent;
    margin-bottom: 50px;
    padding: 10px;
    border-bottom: 1px solid black;

}
.text-magin{
    margin-left: 20px;
    margin-right: 20px;
}

.article{
    display: flex;
    justify-content: center;
}
.blog-header{
    color: white;
}

.blog-brief-desc{
    font-size: 20px;
}
.blog-body{
    font-size: 20px;
    margin-bottom: 100px;
}
/*--------------------------------------*/
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-wrap{
    
    flex-wrap: wrap
}
.about-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(34, 39, 47);
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: #b4b4b4;
    
}
#about-me-img{
    max-width: 350px;
    margin: 20px;

    float: left; 
    border-radius: 50px;
    border-style: solid;
    border-color: #b4b4b4;
    border-width: 1px;
    background-color:  rgb(32, 36, 42);
    z-index: 2;  
    position: relative;  
    opacity: 0;
    transform: translateX(50px) translateY(50px);
    animation: x-entry 1s forwards;
}

@media screen and (max-width: 700px) {
    #about-me-img{
        max-width: 280px;
    }
}

.abouttext{
    text-align: center;
    padding: 20px;
    font-size: 19px;
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    transform: translateX(-50px) translateY(-50px);
    animation: x-entry 1s forwards;
}
.about-container{
    
    max-width: 900px;
}
.img-with-circle {
    position: relative;   /* Set the position to relative */
    display: inline-block; /* This will ensure the container wraps around the image */
    padding: 20px;
}

.blue-circle {
    width: 300px;           /* Set the width of the circle */
    height: 300px;          /* Set the height of the circle */
    background-color: rgb(72, 85, 101);  /* Set the background color to red */
    border-radius: 50%;     /* Make it a circle */
    position: absolute;     /* Use absolute positioning */
    bottom: 5;                /* Adjust this to move it up or down */
    left: 0;             /* Center horizontally */
    z-index: 1;  
}


.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    margin: 30px;
    background: rgb(34, 39, 47);
    border-radius: 50px;
    opacity: 0;
    transform: translateY(40px);
    animation: y-entry 1s forwards;
}

.email, .email:link, .email:visited{
    color: rgb(213, 240, 255);
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    margin: 15px;

}

.email:hover{
    color: rgb(158, 212, 242);
    text-shadow: none;
    text-decoration: underline dotted rgb(158, 212, 242);
    
}
#contact-btns-container{
    margin: 25px;
    margin-top: 40px;
}
#phone{
    margin-top: 15px;
    
}


.contact-btn-g, .contact-btn-g:link, .contact-btn-g:visited{
    color: white;
    align-self: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    margin: 10px;

    padding: 20px;
    background-color: rgb(27, 30, 35);
    border-radius: 8px;

    transition: background-color 0.1s;
}

.contact-btn-g:hover{
    background-color: rgb(29, 32, 38);
    color: rgb(185, 190, 195);
    text-shadow: none;
    transition: background-color 0.1s;
}
.contact-btn-l, .contact-btn-l:link, .contact-btn-l:visited{
    color: white;
    align-self: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    background-color: rgb(27, 30, 35);
    border-radius: 8px;

    transition: background-color 0.1s;
}

.contact-btn-l:hover{
    background-color: rgb(29, 32, 38);
    color: rgb(10, 102, 194);
    text-shadow: none;
    transition: background-color 0.1s;
}


/*---------------------*/

.logincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-signin-up{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    background-color: rgba(30, 34, 39, 0.285);

    transition: all 1s ease 0.1s;
    transform: translateY(40px);
    animation: y-entry 1s forwards;
}
.formlogin{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    background-color: rgba(30, 34, 39, 0.285);
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
}
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 300px;
    
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.loginbtn{
    
    align-self: center;
    width: 100%;
    padding: 10px;
    background-color: #144170;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.no-account-signup-btn, .no-account-signup-btn:visited, .no-account-signup-btn:focus {
    text-align: center;
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 8px;
    text-decoration: none;
}
.no-account-signup-btn:hover{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.049);
}

.logout{
    background-color: #701414;
}

input[type="submit"]:hover {
    background-color: rgb(16, 46, 79);
    transition: background-color 0.1s;
    cursor: pointer;
}

.error-message {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    padding: 10px;

    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    border-radius: 4px;
    text-align: center;
}

.signin-up-text{
    font-size: 25px;
    margin-bottom: 50px;

}

/*---------------------------*/

.modifypage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modifyfield{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    background-color: rgb(33, 37, 44);
    color: rgb(218, 218, 218);
}

input{
    background-color:rgb(28, 32, 38);
    color: white;
}

.multiselec{
    padding: 10px;
    color: rgb(171, 178, 191);
    background-color: rgb(28, 32, 38);
    border-radius: 8px;
}

.yearf{
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;
    width: 100px;
}

.btn3{
    border: none;
    padding: 25px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(46, 134, 231);
    border-width: 2px;
}

/*--------------------------*/
.card-image{
    display: flex;
    justify-content: center;
}

.card .card-image {
    padding: 1px;
}

div.cardtext div.card-brief-desc {
    font-size: 20px;
    text-align: center;
}

@keyframes x-entry{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes y-entry{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*-----------------------------------*/
.flex-container-home{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.flex-container-img{
    display: flex;
    align-items: center;
    justify-content: center;

}
.flex-container-c{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-with-circle2 {
    position: relative;   /* Set the position to relative */
    display: inline-block; /* This will ensure the container wraps around the image */
    width: 500px;
    
}
.blue-circle2 {
    width: 180px;           
    height: 180px;          
    background-color: rgb(72, 85, 101);  
    border-radius: 40px;     
    position: absolute;     
    bottom: 50%;               
    left: 50%; 
    z-index: -1;  
}

#pimg{

    height: auto; 
    width: 350px;
    box-shadow: 0px 0px 10px black;
    margin: 20px;

    float: left; 
    border-radius: 50px;
    background-color:  rgb(32, 36, 42);
    z-index: 2;  
    
    transition: all 1s ease 0.1s;
    transform: translateY(-40px);
    animation: pimgEntry 1s forwards;
}

@keyframes pimgEntry {
    to {
       opacity: 0.85;
       transform: translateY(0);
   }
}

#pimg:hover{
    animation: hoverAnimation 0.5s forwards;

}

@keyframes hoverAnimation {
    to {
        transform: scale(1.1); 
        opacity: 1;
        border-radius: 20px;
   }
}

#name{
    font-family: Kalam, sans-serif, "consolas";
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: white;
    padding-top: 30px;
    text-align: center;
    opacity: 0;
    margin: 20px;
    transform: translateX(30px);
    animation: nameEntry 1s forwards;
}

@keyframes nameEntry{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

#job{
    font-family: "Kalam", sans-serif, "consolas";
    text-shadow: 0px 0px 5px rgb(106, 135, 168);
    text-align: center;
    color: white;
    opacity: 0;
    margin: 20px;
    margin-bottom: 35px;
    transform: translateX(30px);
    animation: jobEntry 1s forwards;
}

@keyframes jobEntry{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

#job:nth-child(3){
    animation-delay: 0.7s;
}

#description{
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    font-size: 19px;
    opacity: 0;
    transform: translateY(30px);
    animation: descEntry 1s forwards;
}


@keyframes descEntry{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/*------------------------------------*/
.currentPage{
    border: 2px solid  rgb(46, 134, 231);
}

.page-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;

}

.page-link, .page-link:link, .page-link:visited  {
    text-decoration: none;
    color: white;
    font-size: 12px;
    background-color: rgb(30, 34, 39);
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 5px;
    transition: border-color 0.3s;
    border: 2px solid transparent;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.page-link:hover {
    border: 2px solid  rgb(46, 134, 231);
}

.page-link:active {
    transform: scale(0.95);
}
.btn2:active {
    transform: scale(0.95);
    border-color: transparent;
}
.btn3:active {
    transform: scale(0.95);
}

.user-edit{
    display: flex;
    justify-content: center;
}
.user-edit{
    display: flex;
    justify-content: center;
}
.flex-r{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.flex-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-header{
    font-size: 25px;
}

.username{
    padding: 10px;
}

.labels{
    margin-left: 30px;
    margin-right: 30px;
}

.usersec{
    display: flex;
    justify-content: center;
}

.user-border{
    
    padding: 5px;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    background-color: rgba(30, 34, 39, 0.285);
    margin: 5px;
    
}

